<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d47cee">  <td>18/01/07 16:29:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BrowserOperations.openBrowser(java.lang.String, java.lang.String)[pri:0, instance:com.Mortgage.broker.pageObjects.HomePage@7a3d45bd]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="b79e6f">  <td>18/01/07 16:29:51</td>   <td>10866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.verifyHomePage()[pri:0, instance:com.Mortgage.broker.pageObjects.HomePage@7a3d45bd]">verifyHomePage</td> 
  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>18/01/07 16:29:52</td>   <td>11026</td> <td>&nbsp;</td><td title="&lt;&lt;BrowserOperations.closeBrowser()[pri:0, instance:com.Mortgage.broker.pageObjects.HomePage@7a3d45bd]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114874018</td>   <td></td> </tr>
</table>
